/* TODO: Add responsive styling for desktops and tablets. */

:root {
    --groovy-orange: #F08540;
    --golden-yellow: #ffc700;
    --golden-hover: #deb217;
    --deselected-star: #ccc;
    --background-color-primary: #FF7978;
    --background-color-secondary: #FFFFFF;
    --button-green: #37CC8A;
}

body {
    background-color: var(--background-color-primary, #FF7978);
}

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
}

#main {
    padding: 5%;
}

input, select {
    padding: 5px;
    border-radius: 5px;
    border-color: #eee;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#title {
    font-family: Open Sans;
    font-style: italic;
    font-weight: 600;
}

.labels {
    font-family: Open Sans;
}

#description {
    font-family: Open Sans;
    justify-self: center;
}

#survey-form {
    margin: 10px 0px;
    display: grid;
    padding: 5%;
    border-radius: 10px;
    background-color: var(--background-color-secondary, #fff);
}

#star-rating:not(:checked) > input {
    display: none;
}

#what-you-liked-boxes {
    display: flex;
    justify-content: space-around;
}

.form-ratings {
    display: flex;
    flex-direction: column;
}

#rating-text {
    font-family: Open Sans;
    font-weight: 600;
    color: rgb(87, 87, 87);
    align-self: center;
    text-transform: uppercase;
}

#star-rating {
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    line-height: 2em;
    justify-content: space-between;
}

.what-you-liked-box {
    display: none;
}

.img-box {
    filter: grayscale(100%);
    cursor: pointer;
    font-size: xx-large;
}

.what-you-liked-box:checked + .img-box {
    filter: grayscale(0);
}

.wyl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box:hover {
    transform: scale(120%);
    transition: all .1s ease-in;
}

.wyl > span {
    color: #aaa;
    font-family: Open Sans;
    font-size: small;
    margin-top: 5px;
}

#star-rating > label {
    color: var(--deselected-star, #ccc);
    font-size: xx-large;
    transition: all .1s ease-in;
}

#star-rating > input:checked ~ label {
    color: var(--golden-yellow, #ffc700);
}

#star-rating > input:hover ~ label{
    color: var(--golden-hover, #deb217);
}

#star-rating >input:checked + label{
    font-size: xxx-large;
}

#submit {
    padding: 10px;
    background-color: var(--button-green, #37CC8A);
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: 600;
}

#feedback {
    resize: vertical;
    padding: 5px;
    margin-top: 10px;
    font-family: Open Sans;
}

.form-field {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

@media (min-width: 720px) {
    #main {
        /* border: 2px #37CC8A solid; */
    }

}